<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<title>AnkiDroid Triage - Bugs report</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div class="title">Bugs report</div>
		<br>

		<div class="above_table">
			<div class="prev_next">
			{% if last_page|gt:0 %}
				{% if page|gt:0 %}
				<a href="/ankidroid_triage/report_crashes?page=0">&lt;&lt; First {{ page_size }}</a>
				&nbsp;
				<a href="/ankidroid_triage/report_crashes?page={{ page|sub:1 }}">&lt; Previous {{ page_size }}</a>
				&nbsp;
				{% endif %}
				{% if page|lt:last_page %}
				<a href="/ankidroid_triage/report_crashes?page={{ page|add:1 }}">Next {{ page_size }} &gt;</a>
				&nbsp;
				<a href="/ankidroid_triage/report_crashes?page={{ last_page }}">Last {{ total_results|sub:1|mod:page_size|add:1 }} &gt;&gt;</a>
				{% endif %}
			{% endif %}
			</div>
			<div class="total_found">Total found: {{ total_results }}</div>
		</div>

		<table>
			<thead>
				<tr>
					<th>Bug ID</th>
					<th>Signature</th>
					<th>Last Incident</th>
					<th>Count</th>
					<th>Issue #</th>
				</tr>
			</thead>
			<tbody>
				{% for bg in bugs_list %}
				<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
					<td><a href="/ankidroid_triage/view_bug?bug_id={{ bg.key.id }}">{{ bg.key.id }}</a></td>
					<td>{{ bg.signature }}</td>
					<td>{{ bg.lastIncident|date:"Y-m-d H:i:s T" }}</td>
					<td><a href="/ankidroid_triage/report_crashes?bug_id={{ bg.id }}">{{ bg.count }}</td>
						<td>{% if bg.issueName %}<a href="http://code.google.com/p/ankidroid/issues/detail?id={{ bg.issueName }}">{{ bg.issueName }}</a>{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>

