<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>AnkiDroid crash reports</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
  <body>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Crash Time</th>
					<th>AnkiDroid Version</th>
					<th>Title</th>
					<th>Title</th>
					<th>Title</th>
				</tr>
			</thead>
			<tbody>

				{% for cr in crashes_list %}
				<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
					<td>{{ cr.crashId }}</td>
					<td>{{ cr.crashTime.strftime() }}</td>

					<td>{{ cr.versionName }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
  </body>
</html>

